main > .container {
  padding: 100px 15px 0;
}
.tagline {
display:flex;
justify-content: center;
align-items: flex-end;

}
.jumbotron {
 background-image:url(./assets/sfcityscape1.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 color:rgb(247, 243, 243);
}
 
#folio{
  background-image:url(./assets/bridgecityscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(243, 242, 239);
 }

 
