
main > .container {
  padding: 100px 15px 0;
}
.tagline {
display:flex;
justify-content: center;
align-items: flex-end;

}

 
#folio{
  background-image:url(../../assets/bridgecityscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(243, 242, 239);
 }

 @media screen and (max-width: 1020px) {
  .display-1, .fw-light {
    padding:5%;
  }
 }

 
